.left-con{
    margin-left: 2% !important;
}
.img-google{
    width: 20px;
    height: 20px;
    margin-top: -3px;
}
.container{
    background-color: rgb(237, 242, 248);
}
.form-control{
    height: 50px;
    border: solid 1px !important;
    border-color: lightgrey !important;
}
.input-container{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5% !important;
    padding-left: 5% !important;
    border-radius: 10px;
    background-color: white;
}
.label{
    margin-bottom: 1%;
}
.btn-primary{
    width: 100% !important;
    height: 130% !important;
    background-color: #4D4EBB !important;

}
.btn-google{
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    height: 50px;
    border-color: lightgrey;
}
.btn-facebook{
    color: white;
    background-color: #216EFA;
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    height: 50px;
    border-color: lightgrey;
}
#facebook{
border: solid;
background-color: white;
height: 20px;
border-radius: 10px;
margin-right: 5px;
margin-top: -2px;
}
.eng-btn{
    margin-top: 30%;
    border-radius: 8px;
    margin-left: 70%;
    background-color: white;
    border-width: 1px;
    height: 40px;
}
.english-btn{
    margin-top: 25px !important;
}
@media (max-width: 768px) {
    .mobile-image {
        width: 100% !important; /* Adjust the percentage as needed */

     height: 250px !important; /* Adjust the percentage as needed */
    }
  }

  :root {
    --x-5: rgba(230, 232, 236, 1);
  }
  
  .or {
    margin-bottom: 10px;
    align-items: center;
    display: inline-flex;
    gap: 14px;
    position: relative;
  }
  
  .or .rectangle {
    background-color: var(--x-5);
    height: 1px;
    position: relative;
    width: 230px;
  }
  
  .or .text-wrapper {
    color: #9197b3;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 27px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .btn-outline-secondary{
    border-left: none !important;
    border-color: lightgrey !important;
  }
  #password{
    border-right: none !important;
  }